/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/fonts/montserrat/Montserrat-Medium.ttf) format("truetype");
}
* {
    font-family: "Montserrat";
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
